.message-box {
    position: relative;
    background-image: linear-gradient(to right top, #0d1521AA, #110f1aAA, #100a12AA, #0b0408AA, #000000AA);
    position: absolute;
    bottom: 0;
    left: 0;
    height: 220px;
    width: 100%;
    text-align: center;
    padding-top: 2em;
    z-index: 2;
}

.input-message-box, .input-message-btn {
    width: 75%;
    height: 25%;
    font-size: 30px;
}

.input-message-btn {
    cursor: pointer;
    background: #007bAA;
    border: none;
    color: white;
    padding: 5px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Ubuntu';
    border-radius: 30px;
}

.input-message-btn:hover {
    background: #052248;
}

.close-icon-btn {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 45px;
    cursor: pointer;
}