.app-container {
    padding: 1em;
    
}

.messages-container {
    height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

html {
    color: white;
    background-image: linear-gradient(to right top, #051937, #00236a, #00289d, #0026cf, #1600fd);
    min-height: 100%;
}

h1 {
    font-size: 60px;
    text-align: center;
    padding-top: 3em;
}

h2 {
    font-size: 29px; 
    padding-bottom: 0.5em;
    text-align: center;
}

h3 {
    font-size: 25px;
}

.settings-btn {
    position: absolute;
    right: 10em;
    top: 1em;
    padding: 1em;
    cursor: pointer;
    border:solid 0.5px transparent;
}

.settings-btn:hover {
    border:solid 0.5px white;
}

.signout-btn {
    position: absolute;
    right: 2em;
    top: 1em;
    padding: 1em;
    cursor: pointer;
    border:solid 0.5px transparent;
}